section.container {
  max-width: 1000px;

  section.votes-for-voting-container {
    position: relative;

    div.vote {
      width: 80%;
      max-width: 400px;
      text-align: center;
      cursor: pointer;
      padding: 30px;
      margin: 10px auto;
      border: 1px solid black;
      box-sizing: border-box;

      &:hover {
        background-color: antiquewhite;
      }
    }
  }

  section.votes-overview-container {
    position: relative;

    div.vote {
      width: 80%;
      max-width: 400px;
      text-align: center;
      padding: 30px;
      margin: 10px auto;
      border: 1px solid black;
      box-sizing: border-box;
    }
  }
}
