
<ng-container *ngIf="issueData">

  <section class="container"
           [ngClass]="{'ballot': issueData.issue_type.id === 3, 'complaint': issueData.issue_type.id === 2, 'information': issueData.issue_type.id === 1,
            'gathering': issueData.issue_type.id === 4}">
    <div class="button-back"
         (click)="buttonBackClicked()">
      <img id="logo" src="/img/logo.png">
    </div>
    <h1>{{issueData.title}}</h1>
    <p>Made by: {{issueData.author}}</p>
    <p>{{issueData.description}}</p>
    <div class="image-container">
      <img src="{{issueData.image_url}}">
    </div>

<!--    <p style="font-style: italic">Type of issue: {{issueData.issue_type.text}}</p>-->

    <section *ngIf="issueVotes && !userAlreadyVoted"
             class="votes-for-voting-container">
      <div *ngFor="let vote of issueVotes"
                class="vote"
                (click)="userVoted(vote.id)">
        {{vote.text}}
      </div>
    </section>

    <section *ngIf="issueVotes && userAlreadyVoted"
             class="votes-overview-container">
      <div class="voted-text">You have already voted in this issue.</div>

      <div *ngFor="let vote of issueVotes"
           class="vote">
        {{vote.text}}
        <div class="votes-total">Total votes: {{vote.vote_count}}</div>
      </div>
    </section>
    <ng-container *ngIf="issueVotesLoadError">
      <h5>Not possible to vote :-(</h5>
    </ng-container>

    <div class="button-back button-back-last"
         (click)="buttonBackClicked()">
      <img src="/img/logo.png">
    </div>
  </section>
</ng-container>
<section *ngIf="issueLoadError">
  <h3>Not found :-(</h3>
</section>
