$ballot-background: #5aa2ff;
$ballot-button: grey;
$ballot-button-hover: #0074cb;
$ballot-button-text: black;
$ballot-button-text-hover: white;
$ballot-main-title: black;
$ballot-text: black;
$ballot-voted-area: #93d3ff;
$ballot-voted-area-text: black;

$complaint-background: #ffa38a;
$complaint-button: grey;
$complaint-button-hover: #c9735d;
$complaint-button-text: black;
$complaint-button-text-hover: black;
$complaint-main-title: black;
$complaint-text: black;
$complaint-voted-area: #ffd5ba;
$complaint-voted-area-text: black;

$information-background: #57c653;
$information-button: grey;
$information-button-hover: #159424;
$information-button-text: black;
$information-button-text-hover: black;
$information-main-title: black;
$information-text: black;
$information-voted-area: #8cfa82;
$information-voted-area-text: black;

$gathering-background: #57c653;
$gathering-button: grey;
$gathering-button-hover: #159424;
$gathering-button-text: black;
$gathering-button-text-hover: black;
$gathering-main-title: black;
$gathering-text: black;
$gathering-voted-area: #8cfa82;
$gathering-voted-area-text: black;

section.container {
  max-width: 1000px;
  background-color: #F2F2F2;
  font-family: 'Roboto', sans-serif;
  border: 3px solid #173C40;

 .image-container {
   display: flex;
   align-items: center;
   justify-content: center;
 }

 p {
    margin: 5px auto;
    padding: 0px 10px;
    text-align: center;
  }

  h1{
    max-width: 400px;
    font-family: 'Maven Pro', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    vertical-align: top;
    margin: 10px auto 20px auto;

  }

  section.votes-for-voting-container {
    position: relative;
    margin-top: 30px;

    div.vote {
      width: 80%;
      max-width: 400px;
      text-align: center;
      cursor: pointer;
      padding: 30px;
      margin: 10px auto;
      box-sizing: border-box;
      border: 1px solid #173C40;
      background: #D8D9D0;
      border-radius: 30px;
      font-size: 18px;

      &:hover {
        background-color: #3FA69B;
      }
    }
  }

  section.votes-overview-container {
    position: relative;
    margin-top: 30px;

    div.vote {
      width: 80%;
      max-width: 400px;
      text-align: center;
      cursor: pointer;
      padding: 30px;
      margin: 10px auto;
      box-sizing: border-box;
      border: 1px solid #173C40;
      background: #D8D9D0;
      border-radius: 30px;
      font-size: 18px;
    }
  }

  .button-back {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &.button-back-last {
      margin-top: 20px;
      img {
        width: 100px;
      }
    }
  }

  &.ballot {
    background-color: $ballot-background;
    color: $ballot-text;

    h1 {
      color: $ballot-main-title;
    }

    section.votes-for-voting-container {
      div.vote {
        color: $ballot-button-text;
        background-color: $ballot-button;

        &:hover {
          color: $ballot-button-text-hover;
          background-color: $ballot-button-hover;
        }
      }
    }
    section.votes-overview-container {
      div.vote {
        color: $ballot-voted-area-text;
        background-color: $ballot-voted-area;
      }
    }
  }
  &.complaint {
    background-color: $complaint-background;
    color: $complaint-text;

    h1 {
      color: $complaint-main-title;
    }

    section.votes-for-voting-container {
      div.vote {
        color: $complaint-button-text;
        background-color: $complaint-button;

        &:hover {
          color: $complaint-button-text-hover;
          background-color: $complaint-button-hover;
        }
      }
    }

    section.votes-overview-container {
      div.vote {
        color: $complaint-voted-area-text;
        background-color: $complaint-voted-area;
      }
    }
  }

  &.gathering {
    background-color: $gathering-background;
    color: $gathering-text;

    h1 {
      color: $gathering-main-title;
    }

    section.votes-for-voting-container {
      div.vote {
        color: $gathering-button-text;
        background-color: $complaint-button;

        &:hover {
          color: $gathering-button-text-hover;
          background-color: $gathering-button-hover;
        }
      }
    }

    section.votes-overview-container {
      div.vote {
        color: $gathering-voted-area-text;
        background-color: $gathering-voted-area;
      }
    }
  }

  &.information {
    background-color: $information-background;
    color: $information-text;

    h1 {
      color: $information-main-title;
    }

    section.votes-for-voting-container {
      div.vote {
        color: $information-button-text;
        background-color: $information-button;

        &:hover {
          color: $information-button-text-hover;
          background-color: $information-button-hover;
        }
      }
    }

    section.votes-overview-container {
      div.vote {
        color: $information-voted-area-text;
        background-color: $information-voted-area;
      }
    }
  }
}
